In [8]:
import pandas as pd

# Suponha que este é o seu DataFrame `df_frame` já carregado,
# com o cabeçalho incorreto.
df_frame = pd.DataFrame({
    'sebatian': ['jorge', 'bia', 'Carla'],
    '12': [50, 10, 32],
    'Rio de Janeiro': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
})

print("DataFrame antes da correção:")
print(df_frame)
print("\n------------------------------\n")


# Passo 1: Obtenha os valores que estão no cabeçalho errado
# O atributo .columns retorna os valores do cabeçalho
valores_primeira_linha = df_frame.columns.tolist()

# Passo 2: Defina os nomes de colunas corretos
# Baseado na sua estrutura, vamos assumir que os nomes corretos são 'Nome', 'Idade', 'Cidade'
df_frame.columns = ['Nome', 'Idade', 'Cidade']

# Passo 3: Adicione a linha de dados perdida de volta no início do DataFrame
# Uma forma de fazer isso é criando um novo DataFrame com a linha e concatenando
nova_linha = pd.DataFrame([valores_primeira_linha], columns=df_frame.columns)
df_frame = pd.concat([nova_linha, df_frame], ignore_index=True)

print("DataFrame após a correção:")
print(df_frame)

DataFrame antes da correção:
  sebatian  12  Rio de Janeiro
0    jorge  50       São Paulo
1      bia  10  Rio de Janeiro
2    Carla  32  Belo Horizonte

------------------------------

DataFrame após a correção:
       Nome Idade          Cidade
0  sebatian    12  Rio de Janeiro
1     jorge    50       São Paulo
2       bia    10  Rio de Janeiro
3     Carla    32  Belo Horizonte

In [4]:
df.iloc[0]

0      Nome
1     Idade
2    Cidade
Name: 0, dtype: object

In [17]:
a=2
if not isinstance(a, (int,float)):
    print( 'não é numero')